.profile-container {
  display: flex;
  justify-content: space-evenly;
}

.profile-main {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 40px;
  text-align: center;
  height: 100vh;
}

.profile-section2 {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.profile-img {
  object-fit: contain;
  border-radius: 50%;
  margin-top: 20px;
}

.btn-list {
  display: flex;
  margin-left: -30px;
  margin-top: 50px;
}
.hire-now-btn {
  height: 61px;
    width: 182px;
    border-radius: 8px;
    background-color: #302E98;
    color: #FFFFFF;
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

.review-btn {
  height: 61px;
    width: 182px;
    border-radius: 8px;
    background-color: #302E98;
    color: #FFFFFF;
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin-left: 10px;
}

.secure-badge {
  object-fit: contain;
  margin-top: 40px;
}

.security-desc {
  margin-top: 50px;
  height: 50vh;
}

.ratingDisplay {
  margin-top: 20px;
  
}

.profile-desc{
  margin-top: 20px;
  line-height: 30px;
}

.profileName {
  font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    color: #302E98;
}

.misc-info {
  line-height: 30px;
}

.review-section {
  margin-top: 20px;
  font-size: 18px;
  color: #302E98;
  font-family: Arial;
  border-bottom: 1px solid #302E98;
  height: 40px;
}

.userReview {
  margin-top: 10px;
  border-radius: 8px;
  width: 500px;
  height: 80px;
  color: #4A4A4A;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 500px;
  height: 80px;
  line-height: 35px;
}

.list-secure {
  text-align: left;
  list-style-type: circle;
  margin-left: 80px;
  margin-top: 20px;
  line-height: 40px;
}

.list-secure li{
  list-style-type: circle;
}

.specProfileHeader {
  color: #302E98;
  font-family: Arial;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 20px;
}
.commentRating {
  margin-left: 10px;
}