.profile-main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-left: 200px;
  margin-top: 50px;
  }

  .specProfileHeader{
    margin-left: 200px;
    margin-top: 50px;
    color: #2E3192;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
  }
  
  .profile-pic { 
    grid-area: 1 / 1 / 3 / 3; 
    border-radius: 50%;
  }
  .ratingDisplay { 
    grid-area: 3 / 1 / 4 / 3; 
    text-align: center;
    width: 200px
  }
  .misc-info { 
    grid-area: 4 / 1 / 5 / 3; 
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    line-height: 23px;
    color: #4A4A4A;
    margin-top: -70px;
    width: 200px;
    text-align: center;
  }
  .hire-btn-now { 
    grid-area: 5 / 1 / 6 / 3; 
    border-radius: 8px;
    font-family: Arial;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    margin-left: -80px;
    margin-top: -120px;
  }



  .hire-btn-prof {
    width: 182px;
    height: 61px;
    background-color: #302E98;
    border-radius: 8px;
    font-family: Arial;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    margin-right: 10px;
  }


  .review-btn-prof {
    width: 182px;
    height: 61px;
    background-color: #302E98;
    border-radius: 8px;
    font-family: Arial;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
  }


  .name-div { 
    grid-area: 1 / 3 / 2 / 6;
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    color: #302E98;
    display: flex;
  }
  .misc-info-desc { 
    grid-area: 2 / 3 / 3 / 6; 
    font-family: Arial;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    color: #4A4A4A;
    margin-top: -70px;
    display: flex;
    flex-direction: column;
  }

  .profile-security {
    margin-left: 110px;
    width: 400px;
    height: 50vh;
    margin-top: -140px;
  }

  .secure-img {
    display: flex;
    justify-content: center;
    margin-left: -30px;
  }

  .sec-text {
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #4A4A4A;
  }
  .list-items-profile {
    list-style-type: circle;
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;
    color: #4A4A4A;
    margin-top: 20px;
    margin-left: 120px;
  }

  .project-image {
    object-fit: contain;
    margin-left: 10px;
  }
  .projectImage-list{ 
    grid-area: 3 / 3 / 4 / 6; 
    width: 400px;
    margin-top: -60px;
  }

  .review-head {
    font-family: Arial;
    font-size: 18px;
    line-height: 21px;
    color: #4A4A4A;
  }
  .review-sect{ grid-area: 4 / 3 / 5 / 4; }

  .rev-comments {
    border-top: 1px solid #4A4A4A;
    width: 500px;
  }

  .comment-text {
    margin-top:30px;
  }
  .div9 { grid-area: 4 / 4 / 5 / 5; }
  .div10 { grid-area: 4 / 5 / 5 / 6; }
  .div11 { grid-area: 5 / 3 / 6 / 6; }